<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="icon" href="../static/favicon.ico" type="image/gif">
    <title>Incorrect</title>
    <style>
        html,body{
           height: 100%;
           background-color: #06736E;
        }
        body{
           padding-top: 40px;
            padding-bottom: 40px;
            color:white;
            text-shadow: 0 .05rem .1rem rgba(0, 0, 0, 1);
            box-shadow: inset 0 0 5rem rgba(0, 0, 0, 1);
        }
        div{
            margin-top: 15%;
        }
        a{
            color: black;
            
        }

    </style>
</head>
<body class="text-center">
    <div>
        <p class="display-4"> Incorrect Username or Password</p>
        <br>
        <p class="lead">If you aren't a BOOKWORM yet  <a href="/signup">   Join us   </a>  by creating one</p>
        <br>
        <p class="lead">Already having an account? Try <a href="/signin" >  Signing in  </a>  again</p>
    </div>
</body>
</html>